*{
    margin: auto;
    padding: auto;
    box-sizing: border-box;
    font-family: Helvetica;
}
body{
    background-color: lightblue;
}

#navbar{
    height: 70px;
    background-color: darkblue;
    border: 5px solid white;
}

#navbar, #time-bar, #stats-bar, #navbar-img{
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    margin-top: 10px;
}


#time-bar, #time-bar-img{
    width: 600px;
    display: flex;
}

#stats-bar-img{
    position: relative;
    right: 40px;
    bottom: 65px;
}

#time-bar-img{
    position: relative;
    right: 80px;
    bottom: 65px;
}

#time-img{
    position: relative;
    right: 20px;
}

#stats-bar, #stats-bar-img{
    width: 600px;
    display: flex;
}

li{
    list-style: none;
    padding-right: 40px;
    color: white;
}

#main-screen{
    display: flex;
    justify-content: space-around;
}

#main-img{
    width: 800px;
    border: 5px solid white;
}

#inventory-section{
    height: 400px;
    width: 200px;
    font-size: 20px;
    border: 5px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#inventory-section li{
    position: relative;
    bottom: 70px;
    margin: 10px 0 30px 0;
}

#inventory-section img{
    margin: 30px 0 0 0;
}

#notification-section{
    border: 5px solid white;
    height: 300px;
    width: 200px;
    display: flex;
    font-size: 10px;
}

#fish-caught{
    display: flex;
    flex-direction: column;
    opacity: 0;
}

#buttons{
    margin-top: 20px;
    width: 900px;
    display: flex;
    justify-content: center;
}

.notification-animation{
    animation-name: notification-animate;
    animation-duration: 10s;
    animation-fill-mode: both;
}

@keyframes notification-animate {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}